// colors for dark
$darkThemesMainColor: #222222;
$darkThemesColorFont: #FFFFFF;
$darkThemesBGColor: #1B1B1B;
$darkThemesBorder: #363636;
$darkThemesBGColorSearch: #363636;
$darkThemesColorFontFilter: #979797;
$darkThemesBGColorSubmit: #171717;

// colors for light
$lightThemesMainColor: #DBDBDB;
$lightThemesColorFont: #222222;
$lightThemesBGColorButton: #EBEBEB;
$lightThemesBorder: #CBCACA;
$lightThemesBGColorSearch: #D1D1D1;
$lightThemesColorFontFilter: #717171;
$lightThemesBGColorNavbar: #E8E8E8;
$lightThemesColorFontFilterSubmit: #E8E8E8;
